.container-form-login {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 2.5em;
    background-image: repeating-linear-gradient(
      -45deg,
      transparent 0 20px,
      black 20px 40px
    );
    box-shadow: 2px 10px 30px;
  
    @media (min-width: 571px) and (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
    @media (min-width: 200px) and (max-width: 570px) {
      display: flex;
      flex-direction: column;
      background-image: none;
      box-shadow: none;
    }
    .logo {
      @media (min-width: 571px) and (max-width: 600px) {
        margin: 2em;
      }
      @media (min-width: 200px) and (max-width: 574px) {
        margin: 2em;
      }
      .movies {
        @media (min-width: 600px) and (max-width: 890px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
  
        @media (min-width: 200px) and (max-width: 599px) {
          display: flex;
        }
      }
    }
  
    .container-sign-in {
      color: white;
      padding: 2em;
      width: 29rem;
      background-color: black;
      @media (min-width: 200px) and (max-width: 570px) {
        width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .btn-form {
        background-color: white;
        border: solid 1px;
        margin-bottom: 0.5em;
      }
      .btn-form:active,
      .btn-form:hover {
        background-color: rgb(0, 0, 0);
        border: white 2px solid;
      }
      a:link,
      a:visited,
      a:active {
        text-decoration: none;
        color: white;
      }
    }
  }