.footer {
  margin-top: auto;
  width: 100%;
  padding: 1.5em;
  font-size: 1.5em;
  font-family: "Caveat", cursive;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 20px,
    black 20px 40px
  );
  .container {
    background-color: white;
    padding: 0.2em;
    div {
      display: flex;
      justify-content: center;
    }
  }
}
